*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #e3e3e3;
 
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header .btn_contato button, .heroSite button, .hoteis button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

header .btn_contato button:hover, .heroSite button:hover, .hoteis button:hover {
    background-color: white;
    color: #000;
}

/*estilo da header*/
header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 10;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 40px;
}

/* estilo do botao menu mobile */
header .btnMenuMobile {
    display: none;
}

header .btnMenuMobile div {
    background-color: white;
    height: 3px;
    margin: 10px 0;
    transition: .5s;
}

header .btnMenuMobile .lineMenuMob1 {
    width: 30px;
}

header .btnMenuMobile .lineMenuMob2 {
    width: 20px;
}

header.rolar .btnMenuMobile div {
    background-color: black;
}

header .btnMenuMobile .lineMenuMob1.ativo1 {
    transform: rotate(45deg) translate(30%);
}

header .btnMenuMobile .lineMenuMob2.ativo2 {
    transform: rotate(-45deg) translate(30%);
    width: 30px;
}

/*Estilo menu dinamico*/

header .logo img.logoPreta {
    display: none;
}

header.rolar{
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 0 8px #00000061;
}

header.rolar .menuDesktop nav ul li a {
    color: black;
}

header.rolar .btn_contato button {
    border: 1px solid black;
    color: black;
}

header.rolar .btn_contato button:hover {
    background-color: black;
    color: white;
}

header.rolar .logo .logoBranca {
    display: none;
}

header.rolar .logo .logoPreta {
    display: block;
}
/*------------------------------------*/


header .menuDesktop nav ul {
    list-style-type: none;
}

header .menuDesktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menuDesktop nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.menuDesktop nav a:hover{
 transform: scale(1.05);   
}

header .btn_contato button{
    width: 140px;
    height: 50px;
}



/* Estilo intro do site */

section.heroSite {
    height: 98vh;
    background-image: url(/images/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

}

.heroSite .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.heroSite .txtHero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.heroSite .txtHero h1 span {
    display: block;
    font-weight: 800;
}

.heroSite .txtHero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.heroSite .txtHero p span {
    display: block;
}

.heroSite button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* Estilo das vantagens */
section.vantagens {
    padding: 80px 0;
}

.vantagens .itensContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itensContainer .imgItens img {
    max-width: 480px;
}

.vantagens .itensContainer .txtItens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.itensContainer .txtItens h3 span{
    font-weight: 300;
    
}

/*Estilo botões de contato*/
section.contato{
    background-color: #ffff;
    padding: 80px 0;
    
}

.txtContato, .iconsContato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txtContato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}
.contato .txtContato h3 span {
    display: block;
    font-weight: 700;
}

.contato .iconsContato a{
    text-decoration: none;
}

.contato .iconsContato button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;

    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;

}

.contato .iconsContato button i{
    font-size: 20px;
}

.contato .iconsContato button:hover {
    background-color: #000;
    transition: 0.5s;
}

.contato .iconsContato button:hover i,.contato .iconsContato button:hover p {
    color: white;
}

/* Estilo da sessão hotéis */
section.hoteis{
    height: 600px;
    background-image: url(/images/hotel-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
    color: #ffff;
    text-align: center;
}

.hoteis > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000b7;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hoteis > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.hoteis h3 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
    
}

.hoteis h3 span {
    display: block;
    font-weight: 600;
}

.hoteis p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button {
    width: 220px;
    height: 60px;
}

/* Estilo da secao como funciona*/

section.comoFunciona {
    padding: 80px 0;
    
}

.txtFunciona, .instrucoes {
    display:inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.comoFunciona .txtFunciona {
    position: sticky;
    top: 50%;
    padding-bottom: 35px;
}

.comoFunciona .txtFunciona h3 {
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}

.comoFunciona .txtFunciona h3 span {
    display: block;
    font-weight: 700;
}

.instrucoes .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #000;
    padding: 20px;
}

.instrucoes .instru-box img {
    max-width: 100px;
}

.instrucoes .instru-box h4 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span {
    font-weight: 300;
}

.instrucoes .instru-box p {
    line-height: 20px;
}

/*Estilo do rodapé*/

footer {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .topFooter button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

footer .topFooter button:hover{
    background-color: white;
    color: #000;
}

footer .middleFooter {
    margin: 20px 0;
}

footer .middleFooter a {
    color: #ffff;
    margin: 0 15px;
}

footer .bottomFooter {
    border-top: 2px solid white;
}

footer .bottomFooter p{
    color: white;
    margin-top: 10px;
}

